$tokens: (
  color: (
    brand: (
      primary: #000000, // the primary color,
      secondary: #ffffff,
      error: #000000
    ),
    shade: (
      dark-20: #000000,
      light-20: #000000
    )
  ),
  font: (
    size: (
      small: 0.75rem, // the small size of the font,
      medium: 1rem, // the medium size of the font,
      large: 2rem, // the large size of the font,
      base: 1rem, // the base size of the font
    )
  )
);
